{% extends "base.html" %}
{% block title %}About · {{ site_name }}{% endblock %}

{% block content %}
  <h1>About Me</h1>

  <p>
    My name is Evan Pardon, also commonly known as <code>supasuge</code> online on Discord/GitHub. I'm a cybersecurity-focused full-stack developer with a strong interest in
    all facets of cybersecurity/IT. I am currently focusing on a bachelor's degree at Oakland University in Artificial Intelligence with a concentration in Cybersecurity
    

  <p>
    This site exists primarily as a technical notebook and portfolio: projects, CTF solution writeups, notes, tooling, guides, and experiments that are meant to be readable, reproducible, and occasionally useful and educational to someone other than me (hopefully).
  </p>

  <p class="muted">
    No tracking beyond privacy-respecting analytics, no ads, and no CMS pretending
    to be something it isn’t. Site CMS fully semi-vibecoded by me!
  </p>
{% endblock %}
